<p>I am a Sr. Software Development Engineer at Amazon, working on <a href="https://www.amazon.com/ftu/home">Amazon Kids+</a>, the leading digital content platform and digital content subscription service for kids. I am based in Toronto, Ontario, Canada.</p>

<p>Before joining Amazon, I was a software engineer at <a href="https://coinmate.io/">CoinMate.io</a>, a European cryptocurrency exchange. My other work history includes developing <a href="https://www.microfocus.com/en-us/products/service-virtualization/overview">Service Virtualization</a> at <a href="https://www.hpe.com">Hewlett Packard Enterprise</a>, and working for 2 small startups in Prague, Czech Republic.</p>

<p>I have a bachelor's degree in software engineering from <a href='https://fit.cvut.cz/en'>Czech Technical University</a> in Prague.</p>

<p>Visit my LinkedIn profile to learn more about my background.</p>

<hr />

<h2>Contact information</h2>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-at fa-lg main-list-item-icon"></span>
    <a href="mailto:jan@havluj.eu">jan@havluj.eu</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/havluj/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/havluj">GitHub</a>
  </li>
</ul>
