<h2>About me</h2>
<p>Hi. I work at Amazon as a software development engineer.</p>

<p>Before joining Amazon, I was as a developer of a European cryptocurrency exchange <a href="https://coinmate.io/">CoinMate.io</a>. Before that, I worked on <a href="https://www.microfocus.com/en-us/products/service-virtualization/overview">Service Virtualization</a> at <a href="https://www.hpe.com">HPE</a>.</p>

<p>I have a degree in computer science from <a href='https://fit.cvut.cz/en'>Czech Technical University</a> in Prague.</p>

<p>Visit my LinkedIn profile or download my CV to learn more about my background.</p>

<hr />

<h2>Contact information</h2>
<p>I am currently located in <strong>Toronto, Canada</strong>.</p>


<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-at fa-lg main-list-item-icon"></span>
    <a href="mailto:jan@havluj.eu">jan@havluj.eu</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file fa-lg main-list-item-icon"></span>
    <a href="https://github.com/havluj/resume/raw/master/cv.pdf">My resume</a> <span class="cv-last-update"></span>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/havluj/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/havluj">GitHub</a>
  </li>
</ul>

<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
  url: "https://api.github.com/repos/havluj/resume/commits"
  }).then(function(data) {
    var lastCommitDate = new Date(data[0].commit.author.date);
    var dateDisplayFormat = "" + lastCommitDate.getDate() + "." + (lastCommitDate.getMonth() + 1) + "." + lastCommitDate.getFullYear();
    $('.cv-last-update').text("(last updated on " + dateDisplayFormat + ")");
  });
});
</script>
